*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(204,234,217);
    background: linear-gradient(90deg, rgba(204,234,217,1) 0%, rgba(255,183,197,1) 100%);
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1.1em;
}

.contenedor{
    padding: 30px 0;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.alert{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 15px auto auto auto;
    background-color: #079726;
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    width: 50%;


}
/*-------------------Buscador------------------*/
.form_search .bcliente{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    color:black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    position:relative;
    top:20px;
}
.btn_search{
    position:relative;
    width:120px;
    height:40px;
    font-size: 18px;
    border: 2px solid silver;
    border-radius: 30px;
    cursor:pointer;
    top:20px;
}
.form_register{
    width: 240px;
    height: 0px;    
}
.mensajeB{
    text-align: center;
    font-weight: bold;
    position: absolute;
    left:600px;
    top:180px;
}
/*-------------------View Personal---------------*/
.btn_deleteV{
    padding:5px;
    border: 1px solid silver;
    border-radius: 10px;
    font-size: 15px;
    font-weight:bold;
    cursor:pointer; 
}

.btn_deleteV:hover {
    background-color: #e00606; 
    border: 1px solid #333333; 
    color: #ffffff;
}

/*-------------------Registrar Cliente------------------*/
.btn_register{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
    color:rgb(83, 1, 35);
    left: 730px;
    top: -50px;    
}
/*-------------------Nuevo Personal------------------*/
.btn_registerP{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
    color:rgb(83, 1, 35);
    left: 400px;
    top: -10px;
}

/*------------------Eliminar Personal------------------*/

.eliminar_p{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.eliminar_p p{
    margin-top: 5px;
    font-weight: bold;
}

.btn_delete {
    display: inline-block;
    width:280px;
    height:35px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight:bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: 2px solid #fffefe;
    border-radius: 4px;
    cursor: pointer;
}

.btn_delete:hover {
    background-color: #e00606; 
    border: 1px solid #333333; 
    color: #ffffff;
}


/*-------------------Editar Personal---------------------*/
.edit_p{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
.edit_p p{
    margin-top: 5px;
    font-weight: bold;
}

/*-------------------Registrar Servicio------------------*/
.btn_registerS{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
    color:rgb(83, 1, 35);
    left: 400px;
    top: -50px;
}
/*-------------------Eliminar Servicio------------------*/
.btn_eliminar{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
    color:rgb(83, 1, 35);
    left: 700px;
    top: -50px;
}
.btneditar{
    padding:5px;
    border: 1px solid silver;
    border-radius: 10px;
    font-size: 15px;
    font-weight:bold;
    cursor:pointer; 
}


/*-----------------------TABLA DE DATOS------------------*/
table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th{
    text-align: center;
    padding: 10px;
    background:#F5B4B4;
    color: #ffffff;
}
table tr:nth-child(odd){
    background: #EDEDED;
}

table td{
    padding: 10px;
}

/*-----------------------TABLA DE DATOS------------------*/