*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background: rgb(204,234,217);
    background: linear-gradient(90deg, rgba(204,234,217,1) 0%, rgba(255,183,197,1) 100%);
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1.1em;
}