.pie{   
    width: 100%;
    height: 8vh;
    background-color: rgb(40, 40, 40);    
    margin: 0;
    padding: 0;
    z-index: 999;               
    font-family: Helvetica,Arial, sans-serif;
}

.pie p{
    font-size: 110%;
    height: 8vh;
    padding: 15px;
    color: white;         
  }