.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { 
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
    text-align:center; 
    padding: 15px;
}

h1{
	padding:30px;
	font-size: 30px;
	text-align: center;
}
input { 
	width: 100%; 
    margin-bottom: 10px; 
	border: none;
	outline: none;
	padding: 10px;
    font-size: 15px;
    font-weight:bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);	
}
.btn {
    display: inline-block;    
    width:280px;
    height:35px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight:bold;
    line-height: 18px;    
    text-align: center;    
    vertical-align: middle;
    background-color: #ffffff; 
    border: 2px solid #fffefe;     
    border-radius: 4px;
    cursor: pointer; 
}

.btn:hover {
    background-color: #333333; 
    border: 1px solid #333333; 
    color: #ffffff;
}
.forgot {
    display: inline-block;    
    width:300px;
    height:25px;    
    margin-bottom: 0;
    font-size: 12px;      
    text-align: center;    
    vertical-align: middle;
    background-color: transparent; 
    border: none;     
    border-radius: 4px;
    cursor: pointer; 
}
.forgot:hover {
    background-color: #333333;     
    color: #ffffff;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

p{
    color: rgb(34, 33, 33);
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
    text-align:center; 
    margin-top: 15px;
}

form{
    text-align: center;
}