.cabezera{   
    width: 100%;
    height: 9vh;
    background-color: rgb(40, 40, 40);    
    margin: 0;
    padding: 0;
    z-index: 999;
  }
  .cabezera ul{    
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;    
    font-family: Helvetica,Arial, sans-serif;       
  }
  
 
  .cabezera li a{
    font-size: 110%;
    height: 9vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    text-align: center;
    text-decoration: none;
    
  }
  .cabezera li:last-child{
    
    background-color: #4CAF50;
    margin-left: auto;
  }
  .cabezera li a:hover {
    background-color: #111;
  }
  .cabezera img{height: inherit;width: auto;}

   

.cuadrosesion{  
  display: none;
  position: fixed;
  top:9vh;
  right: 0px;  
  background-color: rgb(48, 150, 74);  
  z-index: 9;  
}
.cuadrosesion li a{
  font-size: 100%;
  height: 8vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;   
  color: white;
  text-align: center;
  text-decoration: none;  
}
.cuadrosesion ul{    
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;    
  font-family: Helvetica,Arial, sans-serif;       
}
.cuadrosesion li a:hover {
  background-color:  rgb(40, 40, 40);    
}

@media screen and (max-width:768px){
    .cabezera li a{          
        width: 18vw;           
      }
      .cuadrosesion li a{          
        width: 18vw;           
      }
   }