*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background: rgb(204,234,217);
    background: linear-gradient(90deg, rgba(204,234,217,1) 0%, rgba(255,183,197,1) 100%);
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1.1em;
}

h1{
    margin-top: 25px;
    text-align: center;
}

table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th{
    text-align: center;
    padding: 10px;
    background:#ea899a;
    color: #ffffff;
}

table tr:nth-child(odd){
    background: #ffffffec;
}

table td{
    padding: 10px;
}


.form_search .btn_search{
    background: #ea899a;
    color: #ffffff;
    padding: 0 20px;
    border: 0;
    cursor: pointer;
    margin-right: auto;
}
