*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background: rgb(204,234,217);
    background: linear-gradient(90deg, rgba(204,234,217,1) 0%, rgba(255,183,197,1) 100%);
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1.1em;
}

table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th{
    text-align: center;
    padding: 10px;
    background:#ea899a;
    color: #ffffff;
}

table tr:nth-child(odd){
    background: #ffffffec;
}

table td{
    padding: 10px;
}

.form_search{
    margin-left: 20%;
    width: 240px;
    height: 35px;
    font-size: 20px;
    background: #ea899a;
    padding: 5px;
    border-radius: 30px;
}

.btn_search{
    border: none;
}

.container{
    padding:30px;
    width:100%;
}
h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.btn_registerS{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;   
    color:rgb(83, 1, 35);
   
}

.btn_registerE{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;    
    color:rgb(83, 1, 35);
    position:relative;
    top: 80px;
    background:#ffffff;
}

.fecha{
    padding:5px;
}

.menubutons{
    display: grid;
    grid-row: 2;
    position:absolute;
    top:100px;
    right: 5px;
}