*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background: rgb(204,234,217);
    background: linear-gradient(90deg, rgba(204,234,217,1) 0%, rgba(255,183,197,1) 100%);
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1.1em;
}
.contenedor{    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: repeat(12, 1fr);
    background-color: rgb(235, 235, 235);
}


.tag{
    background-color: #F5B4B4;    
    font-weight: bold;
    text-align: center;      
    padding: 50px 5px 0px 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid gray;
    
}
.barrafecha{
    display:grid;
    position:relative;
    left: 25vw;
    width: 50vw;
    grid-column: 3;    
    grid-template-columns: 1fr 1fr 1fr;
    
}
.fechaa{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;    
    color:rgb(83, 1, 35);     
}
.fecha{
    margin-right: 60px;
}
.fecha button{
    width: 100%;
    margin-right: 20px;
    padding:15px 20px;
    font-weight: bold;
    font-size: 15px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;
}
.fechad{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;    
    color:rgb(83, 1, 35); 
}
.botonreserva{
    padding:25px 40px;
    font-weight: bold;
    font-size: 20px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;    
    color:rgb(161, 4, 70); 
}
.cuadroa{    
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 18px;
    border:groove silver;
    border-radius: 10px;
    cursor:pointer;    
    background-color: yellowgreen;
    color:rgb(0, 0, 0); 
}
.cuadro{    
    padding: 10px 5px 10px 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid gray;
}
input { 
	width: 100%; 
    margin-bottom: 10px; 
	border: none;
	outline: none;
	padding: 10px;
    font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);	
}
